<!DOCTYPE html>
<html>

<head>
    <title>Admin Portal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Welcome to the Admin Portal</h1>

    <h2>Current Content: {{ word }}</h2>

    <h2>Update Content</h2>
    <form method="POST" action="/admin">
        <label for="new_word">New Word:</label>
        <input type="text" id="new_word" name="new_word" required>
        <button type="submit">Update</button>
    </form>


</body>

</html>